<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="cornell_template.css">
</head>

<h2>Service Level Objectives [SLOs], Indicators [SLIs], and Agreements [SLAs]</h2>

<body>

<table style="width:100%">
  <tr>
    <th style="width:150px">PURPOSE</th>
    <td>Implementing Service Level Objectives, Indicators, and Agreements</td>
  </tr>
  <tr>
    <th style="width:150px">VERSION</th>
    <td>1.0</td>
  </tr>
  <tr>
    <th style="width:150px">DATE</th>
    <td>February 20, 2021</td>
  </tr>
</table>

<table style="width:100%">
  <tr>
    <th style="width:150px">MATERIALS</th>
    <td><ul>
      <li>[Site Reliability Engineering] [Chapter 4] Service Level Objectives</li>
      <li>[The Site Reliability Handbook] [Chapter 2] Implementing SLOs</li>
  </tr>
</table>

<table style="width:100%">
  <th>Table of Contents</tr>
  <td>
    <ol>
      <li>Service Level Indicators [SLI]</li>
      <li>Service Level Objectives [SLO]</li>
      <li>Service Level Agreements [SLA]</li>
      <li>Quick References</li>
      <li>Checklists</li>
      <li>Best Practices</li>
      <li>Examples</li>
    </ol>
  </td>

<table style="width:100%">
  <tr>
    <th>CUE COLUMN</th>
    <th>NOTES</th>
  </tr>
    <td style="width:300px">
      <p>Write Summary Notes here</p>
    <td>
      <ul>
        <li>It is impossible to manage a service correctly, let alone well, without understanding which behaviors really matter for that service and how to measure and evaluate those behaviors.</li>
        <li>We use intuition, experience, and understanding of what users want to define Service Level Indicators (SLIs), Objectives (SLOs), and Agreements (SLAs).</li>
        <li>These measurements describe the basic properties of metrics that matter, what values we want those metrics to have, and how we will react if we can’t provide the expected service. </li>
        <li>Metric Modeling, Metric Selection, and Metric Analysis</li>
      </ul>
    </td>
</table>

<table style="width:100%">
  <tr>
    <th>SUMMARY</th>
  </tr>
  <td>PLACE SUMMARY ITEMS HERE</td>
</table>

</body>
